<!DOCTYPE html>
<html>
  <head>
    <title>Dolla Dolla Bill, y'all</title>
      <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <script type="text/javascript" src="js/****></script>
  </body>
</html>